<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TRACKING_ID</key>
	<string>UA-17700581-6</string>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>641392944659-22qq3pacoql0ace0622t3lqsqq0epkhr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641392944659-22qq3pacoql0ace0622t3lqsqq0epkhr</string>
	<key>API_KEY</key>
	<string>AIzaSyCk82u_DjEt2wfuudaak2wcdbg7JXm94N4</string>
	<key>GCM_SENDER_ID</key>
	<string>641392944659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.justhurricanes.jax</string>
	<key>PROJECT_ID</key>
	<string>happ-a8ec6</string>
	<key>STORAGE_BUCKET</key>
	<string>happ-a8ec6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
	<key>GOOGLE_APP_ID</key>
	<string>1:641392944659:ios:29ef00b9366ed6d2</string>
	<key>DATABASE_URL</key>
	<string>https://happ-a8ec6.firebaseio.com</string>
</dict>
</plist>
