<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641392944659-81i5ibogv1u49m25kbprc53nqfacokk5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641392944659-81i5ibogv1u49m25kbprc53nqfacokk5</string>
	<key>API_KEY</key>
	<string>AIzaSyCk82u_DjEt2wfuudaak2wcdbg7JXm94N4</string>
	<key>GCM_SENDER_ID</key>
	<string>641392944659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pnsdigital.hurricane.test</string>
	<key>PROJECT_ID</key>
	<string>happ-a8ec6</string>
	<key>STORAGE_BUCKET</key>
	<string>happ-a8ec6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641392944659:ios:8e7d1236aa3abb374441e6</string>
	<key>DATABASE_URL</key>
	<string>https://happ-a8ec6.firebaseio.com</string>
</dict>
</plist>